.transactions {

  float: left;
  width: 100%;
  img {
    width: 32px;
    height: 32px;
  }
  .icon{
    font-size: 26px;
    line-height: 32px;
  }
  td,th{
    vertical-align: middle !important;
  }

  th {
    background-color: #434343;
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .day-header th {
    color: #333;
    background-color: #eee;
  }

  .notes {
    color: #bbb;
    font-size: 12px;
  }
  
  table{
    margin: 0;
  }

  .nesty{
    padding-top: 0;
    padding-right: 0;
  }
}

.balance {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  float: left;
  width: 50%;

  > div {

    padding: 12px;

    h4{
      text-align: left;
      margin: 0;
    }

    background-color: #eee;
    font-size: 28px;
    margin: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    .currency {

      &.positive {
        color: #333333;
      }

      .pounds {
        font-size: 42px;
      }
    }

  }
}